


@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/Vazir.eot');
    src: url('../../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Vazir.woff2') format('woff2'),
    url('../../fonts/Vazir.woff') format('woff'),
    url('../../fonts/Vazir.ttf') format('truetype');
    }
    @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/Vazir-Bold.eot');
    src: url('../../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../../fonts/Vazir-Bold.woff') format('woff'),
    url('../../fonts/Vazir-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: Yekan;
       src: url('../../fonts/Yekan.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        }


        body{
            direction: rtl;
            padding:0px;
            margin:0px;
            cursor:pointer;
            font-family:'Yekan'
        } 
        
        
        a{
            text-decoration:none;
            color:black;
        }   
.rightDiv{
width:20%;
background: #D7E3E9;
box-shadow: 0px -1px 8px rgba(26, 26, 26, 0.12);
height:100%
}
.divHeader{
    text-align:center;
    padding: 20px 0px;
    display:flex;
    flex-direction: column;
    
}
.icon{
    color: #0D92B2;
}

.span1{
    padding-right: 10px;
    /* font-family:'Yekan'; */
    font-weight:bold;
    font-size: 21px;
    color:black
}

.imgDiv{
    padding: 20px 0px; 
    display:flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto

}
.pic{
    width:120px;
    height:120px;
    margin-top: 10px;
}

.span2{
    margin-top: 20px;
    font-weight:bold;
    font-size:21px
}

.tabRight{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.tabRightItem{
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px
}
.item{
    background: #E9F4FF;
border: 0.25px solid #82C1E1;
border-radius: 8px;
width:85%;
padding:6px 0px
}
.item2{
    background: #F4F4F4;
    border: 0.25px solid #969696;
border-radius: 8px;
width:85%;
padding:6px 0px;
color:#969696
}

hr{
    transform:rotate(90deg);
width:30px;
padding:0px;
margin-right: -11px;
height:10px;
margin-top: -10px;
background: #007BFF;
border-top-left-radius: 10px;
border-top-right-radius: 10px;



}

.span3{
    margin-right: 10px;
    font-weight:bold;
    font-size:18px
}
.item11{
    margin-right: 40px;
    width:64%;
    background: #E9F4FF;

/* primary/blue */
border: 0.25px solid #82C1E1;
border-radius: 8px;
margin-top: 10px;
margin-bottom: 10px;
padding:6px 0px;
border-right: 6px solid #007BFF;
/* margin-right: -0.3px; */
}

.item1{
    margin-right: 40px;
    width:67%;
    background: #E9F4FF;

/* primary/blue */
border: 0.25px solid #82C1E1;
border-radius: 8px;
margin-top: 10px;
margin-bottom: 10px;
padding:6px 0px;
/* border-right: 2px solid red; */
}

.icon1{
    margin-right:5px
}

.clock{
    width:55%;
    border: 1px solid #0A2A3D;
    margin-right: 40px;
    padding:6px 12px;
    margin-top: 30px;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    justify-content:space-around
}

.clock1{
    display:flex;
    flex-direction:column;
    font-size:12px
}

.span5{
    font-size: 25px;
    font-weight: bold;
}

/* .span5{
    font-weight:bold;
    font-size:20px;
    padding:5px 14px ;
    margin:10px;
}

.span6{
    margin-right:-27px;
} */

.exite{
    background: #CD2951;

border: 1px solid #CD2951;
border-radius: 8px;
width:64%;
margin-right: 36px;
padding: 8px 10px;
margin-top: 30px;
margin-bottom: 30px;
}

.exite span{
    color:#F4F4F4;
    font-size:20px;
    font-weight: bold;
}

.iframeheader{
    width:80%;
    border: none;
    float:left;

}

.tableBorder{
    width:54%;
    position:absolute;
    margin-right: 300px;
    margin-top: 160px;
}

.tableBorder i{
    position:absolute;
    width:30px;
    height:30px;
    color:#CD2951
}


.map1{
    margin:100px 150px 200px 100px;
}
.map2{
    margin:20px 340px 200px 120px;
}
.map3{
    margin:300px 400px 310px 200px;
}
.map4{
    margin:250px 500px 200px 100px;
}


.tableBorder img{
    width:100%;
}


.leftSide{
border:0.01px solid rgb(255, 253, 253);
margin-top: -70px;
float:left;
width:20%


}

.leftSide select{
    width:200px;
    padding:10px 1px;
    font-size:18px;
    font-weight:bold;
    background: #FAFBFC;
border: 0.5px solid #84949B;
border-radius: 12px;
margin:7px 1px

}





.leftSide span{
    margin:2px 8px;
    color: #9E9E9E;
}

.leftSide button{
    width:200px;
    padding:10px 1px;
    font-size:18px;
    font-weight:bold;
    background: #E9F4FF;

border: 0.5px solid #82C1E1;
border-radius: 12px;
margin-top: 410px;
}
