body{
    direction: rtl;
    padding:0px;
    margin:0px;
    cursor:pointer;
    /* background-color:#ddddddc1 */

}

a{
    text-decoration: none;
    color: #FAFBFC;
}

a:hover{
    color: #0D92B2;
}
.iframeHeader{
    width:100%;
    border:none
}

.iframeFooter{
    width:100%;
    height:350px;
    overflow-y: none;
    margin-top: 10px;
    border:none;
    margin-bottom: -22px;
/* padding-top: 40px; */
}

.pic{
    width:200px;
    height:200px;
    margin-right: -200px;

}

h1{
    color: #0A2A3D;
    font-size:50px;
    margin-right: 200px
}

.content{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:20px
}
.pic2{
    width:240px;
    height:200px;
    /* margin-left: -400px; */
    margin-top: -220px;
    float:left;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
    width: 80%;
    margin:60px auto;
    /* background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07); */
/* border-radius: 12px; */
}
.accordion {
    width: 100%;
    color: black;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0.9rem 1.25rem;
    background: #d3d3d300;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0.8rem;
    border:2px solid #dddddd58;
}
.accordion-label:hover {
    background: #d3d3d300;
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color:black ;
    border-radius: 0.8rem;
    background-color:#efeeee00;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: black;
    font-size: 18px;


}
input:checked + .accordion-label {
    background: #fffdfd;

}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(90deg);
    background: #fffdfd;

}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
  
